<!DOCTYPE html>
<html>
<head>
  <title>PaperTicket</title>
  <%= stylesheet_link_tag    "paper_ticket/application", media: "all" %>
  <%= javascript_include_tag "paper_ticket/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
